.container {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-gap: 5px;
	margin: 20px 0;
}

.cell {
	background-color: #ccc;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
}

.cell.clicked {
	background-color: #99f;
	cursor: default;
}

.cell.bomb {
	background-color: #f00;
	cursor: default;
}

.result {
	font-size: 24px;
	margin-bottom: 20px;
}

